body{

}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

header{
    height: 600px;
}

nav{
    background: red;
    width: 100%;
    padding: 16px 0;
}

nav ul{
    display: flex;
}

nav li{
    margin-right: 16px;
}

nav a{
    color: white;
    text-decoration: none;
}

.header--content{
    padding: 200px 0px;
}

h1{
    font-size: 48px;
    color: white;
}

h2{
    font-size: 36px;
    color: white;
}







footer{
    background: red;
    width: 100%;
    text-align: center;
    padding: 16px;
    color: white;
}